@charset "UTF-8";
/* *********************************************************************
	--style.css--
************************************************************************/
#wrapper {
  min-height: 1000px;
}
/*---------------------------------------------------------------
----------------------------------------------------------------*/


/*---------------------------------------------------------------
pageTop
----------------------------------------------------------------*/
.pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}


/*---------------------------------------------------------------
nav_global
----------------------------------------------------------------*/
#nav_global li{
	float: left;
	position: relative;
	margin: 0px 20px;
}
#nav_global li ul {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 200px;
}
a {
	color: blue;
}
.active > a{
	color: red;
}